@model IEnumerable<MinhaArte.Models.QuadroModel>

    <div>
        <h2>Lista de todos os lanches</h2>
    </div>

@foreach(var lanche in Model)
{
    <div>
        <h4>@lanche.QuadroNome</h4>
        <p><img class="@lanche.ImagemUrl" /></p>
        <h3>Preço : @lanche.Preco.ToString("c")</h3>
    </div>
}
